<div class="container">
    <p>교시정보 미리 등록해놓기</p>
  <%= form_tag  gyosiyakdoks_gyosijungbosave_path do %>
        <%= button_to "내 교시정보 등록하기 Go!", gyosiyakdoks_gyosijungbosave_path, :method => "post" %>
       <% end %>
      </div>
    <p class="text3 mt-4 mb-1">여기에 현재 시간 기반 정보 표시</p>
    <%= button_to "시간기반 정보 업데이트 하기", home_usersiganinput_path, method:"get" %>
</div>


      
        
        
        
        
        
        
       